<aside th:fragment="navbar"
  class="fixed bottom-0 w-full sm:relative sm:w-20 2xl:w-64 bg-white border-t sm:border-r">


  <nav class="flex sm:flex-col items-center justify-around sm:justify-start sm:gap-4 p-3">

    <a th:href="@{/}"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-blue-500 font-semibold bg-blue-50 sm:w-full sm:justify-center 2xl:justify-start hover:bg-blue-100 transition"
      aria-label="Home" title="Home">
      <i class="fas fa-home text-xl"></i>
      <span class="hidden 2xl:inline">Home</span>
    </a>

    <!--   <a href="/search" class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition"
       aria-label="Search" title="Search">
          <i class="fas fa-search text-xl"></i>
          <span class="hidden 2xl:inline">Search</span>
        </a>
 -->
    <a th:href="@{/dashboard}"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition"
      aria-label="Collections" title="Dashboard">
      <i class="fas fa-folder text-xl"></i>
      <span class="hidden 2xl:inline">Dashboard</span>
    </a>

    <a th:href="@{/collection/create}"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition"
      aria-label="Create collection" title="Create">
      <i class="fas fa-plus text-xl"></i>
      <span class="hidden 2xl:inline">Create</span>
    </a>
    <a th:href="@{/login}" th:if="${#authentication.principal == 'anonymousUser'}"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition"
      aria-label="Login" title="Login">
      <i class="fas  fa-users text-xl"></i>
      <span class="hidden 2xl:inline">Login</span>
    </a>
    <a th:href="@{/register}" th:if="${#authentication.principal == 'anonymousUser'}"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition"
      aria-label="Register" title="Register">
      <i class="fas fa-sign-in text-xl"></i>
      <span class="hidden 2xl:inline">Register</span>
    </a>
    <form th:action="@{/logout}" method="post" th:if="${#authentication.principal != 'anonymousUser'}">
      <button type="submit"
        class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 sm:w-full sm:justify-center 2xl:justify-start hover:text-blue-500 hover:bg-blue-50 transition">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <i class="fas fa-sign-out-alt  text-xl"></i>
        <span class="hidden 2xl:inline">Logout</span>
      </button>
    </form>
  </nav>
</aside>