<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>My Collections</title>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://analytics.marcpericot.es/script.js"
        data-website-id="0624f2fd-d168-4148-a9e6-55cf35f47416"></script>
 <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body class="bg-gray-50 text-gray-900 flex flex-col sm:flex-row">
    <div th:replace="fragments/navbar.html  :: navbar"></div>
    <main class="h-screen  flex flex-col w-full p-8 space-y-4 sm:h-screen sm:overflow-y-auto">
        <h1 class="text-4xl font-extrabold text-gray-900 md:text-5xl"
            th:if="${#authentication.principal != 'anonymousUser'}"><span th:text="${#authentication.name}"></span>'s
            Dashboard</h1>
        <p id="error-message" style="color: red; display: none;">The entered URL is invalid.</p>
        <p id="success-message" style="color: green; display: none;"></p>

        <ul th:replace="~{fragments/dashboard-list.html :: collectionList(${collections})}"></ul>

    </main>
    <script type="text/javascript" th:src="@{/js/csrf.js}"></script>
    <script type="text/javascript" th:src="@{/js/likes.js}"></script>
    <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
</body>

</html>