<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Public Collections</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://analytics.marcpericot.es/script.js"
        data-website-id="0624f2fd-d168-4148-a9e6-55cf35f47416"></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .pointer-events-none {
            pointer-events: none;
        }
    </style>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-gray-50 text-gray-900 flex flex-col sm:flex-row min-h-screen">

<div th:replace="fragments/navbar.html :: navbar"></div>

<main class="flex-1 p-6 sm:p-10 space-y-8">

    <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold tracking-tight">Public collections</h1>

        <a th:href="@{/collection/create}"
           class="flex items-center gap-2 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition shadow-sm">
            <i class="fas fa-plus"></i>
            New
        </a>
    </div>

    <ul th:replace="~{fragments/collection-list.html :: collectionList(${collections})}"></ul>

</main>
    <script type="text/javascript" th:src="@{/js/csrf.js}"></script>
    <script type="text/javascript" th:src="@{/js/likes.js}"></script>
</body>
</html>