<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Collections</title>
</head>
<body>
<h1>My Collections</h1>
<p th:if="${#authentication.principal != 'anonymousUser'}">Welcome, <span th:text="${#authentication.name}"></span></p>

<ul>
    <li th:if="${collections != null and !#lists.isEmpty(collections)}" th:each="collection : ${collections}">
        <a th:href="@{/collection/{id}(id=${collection.id})}" th:text="${collection.name}"></a>

    </li>
    <li th:if="${collections == null or #lists.isEmpty(collections)}">
        <p>No collections available.</p>
    </li>
</ul>
<div th:if="${#authentication.principal == 'anonymousUser'}">
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>

</div>

<p th:if="${#authentication.principal != 'anonymousUser'}"><a href="/create-collection">Create collection</a></p>
<p th:if="${#authentication.principal != 'anonymousUser'}"><a href="/logout">Logout</a></p>
</body>
</html>