<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${username} + ' collections'"></title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script defer src="https://analytics.marcpericot.es/script.js" data-website-id="0624f2fd-d168-4148-a9e6-55cf35f47416"></script>
</head>

<body class="bg-gray-50 text-gray-900 flex flex-col sm:flex-row">
    <div th:replace="fragments :: navbar"></div>
<main class="h-screen flex flex-col w-full p-8 space-y-4 sm:h-screen sm:overflow-y-auto">
    <h1 class="text-4xl font-extrabold text-gray-900 md:text-5xl" ><span th:text="${username}"></span>'s Collections</h1>
<p id="error-message" style="color: red; display: none;">The entered URL is invalid.</p>
<p id="success-message" style="color: green; display: none;"></p>

        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <li th:if="${collections != null and !#lists.isEmpty(collections)}" th:each="collection : ${collections}"
                class="bg-white p-5 rounded-xl shadow hover:shadow-xl hover:scale-[1.02] transition cursor-pointer">
                <a th:href="@{/collection/{id}(id=${collection.id})}">
                    <h2 class="text-lg font-bold" th:text="${collection.name}"></h2>
                    <span class="text-sm text-gray-500" th:text="'by: ' + ${collection.user.username}"
                        th:onclick="|window.location.href='@{/user/{id}(id=${collection.user.id})}'|">
                    </span>
                    <div class="mt-4 h-32 bg-gray-100 rounded-lg flex items-center justify-center overflow-hidden">

                        <div class="tweet-wrapper relative"
                            th:if="${!#lists.isEmpty(collection.tweets) and collection.tweets[0].tweet != null}">
                            <blockquote class="twitter-tweet">
                                <a
                                    th:href="'https://twitter.com/user/status/' + ${collection.tweets[0].tweet.substring(collection.tweets[0].tweet.lastIndexOf('/') + 1)}">
                                    Loading preview
                                </a>
                            </blockquote>
                            <!-- Overlay invisible -->
                            <a th:href="@{/collection/{id}(id=${collection.id})}" class="absolute inset-0 z-10"></a>
                        </div>
                        <span th:if="${#lists.isEmpty(collection.tweets) or collection.tweets[0].tweet == null}"
                            class="text-gray-400 text-sm">
                            No preview
                        </span>
                    </div>
                    <div class="mt-4 flex justify-between text-xs text-gray-400">
                        <span th:text="${#lists.size(collection.tweets)} + ' tweets'"></span>
                        <span>#dev</span>
                    </div>
                </a>
            </li>
</ul>
</main>
</body>
</html>