<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <title th:text="'Collection: ' + ${collection.name}"></title>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://analytics.marcpericot.es/script.js"
        data-website-id="0624f2fd-d168-4148-a9e6-55cf35f47416"></script>
</head>

<body class="bg-gray-50 text-gray-900 flex flex-col sm:flex-row">

    <div th:replace="fragments :: navbar"></div>

    <main class="flex-1 p-6 sm:p-10">
        <div class="max-w-2xl mx-auto space-y-4">

            <h1 class="text-3xl font-bold" th:text="${collection.name}"></h1>
            <p class="text-gray-500">
                Collection by
                <a th:href="@{/user/{id}(id=${collection.user.id})}" th:text="${collection.user.username}"
                    class="text-blue-500 hover:underline">
                </a>
                ·
                <span th:text="${#lists.size(collection.tweets)}"></span> tweets
            </p>

            <form id="tweetForm" th:if="${isCreator}" class="flex gap-2">
                <input id="tweetUrl" type="text" placeholder="Paste tweet URL..."
                    class="flex-1 border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">
                    Add
                </button>
            </form>

            <p id="error-message" style="color: red; display: none;">The entered URL is invalid.</p>
            <p id="success-message" style="color: green; display: none;"></p>

            <ul class="mt-8 flex flex-col items-center space-y-6">
                <li th:each="tweet : ${collection.tweets}"
                    th:if="${collection.tweets != null and !#lists.isEmpty(collection.tweets)}"
                    class="w-full max-w-2xl bg-white p-4 rounded-xl shadow relative group">

                    <button th:if="${isCreator}" onClick="removeTweet(this.id)" th:id="${tweet.id}"
                        class="absolute top-2 right-2  group-hover:opacity-100 transition text-red-500 hover:text-red-700">
                        <i class="fas fa-trash"></i>
                    </button>
                    <div class="flex justify-center">
                        <blockquote class="twitter-tweet"> <a
                                th:href="'https://twitter.com/user/status/' + ${tweet.tweet.substring(tweet.tweet.lastIndexOf('/') + 1)}">Loading
                                tweet</a></blockquote>
                    </div>
                </li>

                <li th:if="${collection.tweets == null or #lists.isEmpty(collection.tweets)}">
                    <p>No tweets available.</p>
                </li>
            </ul>


    </main>
    <script>
        function isTweetUrl(url) {
            const tweetUrlRegex = /^(https?:\/\/(?:www\.)?(?:x\.com|twitter\.com)\/[A-Za-z0-9_]+\/status\/\d+|(?:www\.)?(?:x\.com|twitter\.com)\/[A-Za-z0-9_]+\/status\/\d+)$/;
            return tweetUrlRegex.test(url);
        }

        const form = document.getElementById('tweetForm');
        const errorMessage = document.getElementById('error-message');
        const successMessage = document.getElementById('success-message');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const urlInput = document.getElementById('tweetUrl').value;
            const urlEndpoint = "/collection/" + [[${ collection.id }]] + "/add-tweet";

            if (isTweetUrl(urlInput)) {
                console.log('URL válida:', urlInput);
                errorMessage.style.display = 'none';
                fetch(urlEndpoint, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        tweetLink: urlInput
                    }).toString(),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            successMessage.textContent = data.message;
                            successMessage.style.display = 'block';
                            location.reload(true);
                        } else {
                            errorMessage.textContent = data.message;
                            errorMessage.style.display = 'block';
                        }
                    })
                    .catch(error => {
                        console.error('Error while sending the URL:', error);
                        errorMessage.textContent = "There was an unexpected error while processing the application.";
                        errorMessage.style.display = 'block';
                    });
            } else {
                errorMessage.style.display = 'block';
            }
        });
        function removeTweet(tweetId) {
            const urlEndpoint = "/collection/" + [[${ collection.id }]] + "/remove-tweet";

            fetch(urlEndpoint, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    tweetId: tweetId
                }).toString(),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        successMessage.textContent = data.message;
                        successMessage.style.display = 'block';
                        location.reload(true);
                    } else {
                        errorMessage.textContent = data.message;
                        errorMessage.style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error('Error while sending the URL:', error);
                    errorMessage.textContent = "There was an unexpected error while processing the application.";
                    errorMessage.style.display = 'block';
                });
        }
    </script>
</body>

</html>